h1, h2, h3, h4, h5, h6 {
	clear: both;

}

.entry-content h1 {
	font-size: 34px;
	color: $color-dark-gray;
}
h1.entry-title {
	font-size: 34px;
	color: $color-dark-gray;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	margin: 50px auto 30px auto;
	font-weight: 300;
}
.entry-content {
	p {
		font-size: 20px;
		color: $color-dark-gray;
	}
}