
div {
	/* These are technically the same, but use both */
	
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	
	/* Instead use this non-standard one: */
	overflow-wrap: keep-word;
	word-wrap: keep-word;

	-ms-word-break: keep-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: keep-all;
	/* Instead use this non-standard one: */
	word-break: keep-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0px;
	}
}
#page {
	width: 100%;
	float: left;
	background: {
		image: url(images/summit-room.jpg);
		repeat: no-repeat;
	}

	@media screen and (min-width: $tabwidth) {
		background-size: contain;
	}
}
.site-content {
	width: 100%;
	float: left;
}
.page-contents {
	background-color: #fff;
	overflow: hidden;
	margin: 0;
	width: 100%;
	float: left;
	text-align: left;
	padding-bottom: 80px;
}
.homepage {
	min-height: 500px;
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo , h1.logo {
	width: 180px;
	height: 143px;
	

	background: {
		image: url(images/logo.png);
		repeat: no-repeat;
		size: cover;
	}
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		display: none;
	}

}
.logo a, h1.logo a {
	width: 180px;
	height: 143px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		display: none;
	}

}
.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.top-header {
	width: 100%;
	float: left;
	background-color: $color-dark-gray;
	padding: 10px 0;
}
.site-header {
	width: 100%;
	position: relative;
	float: left;
	background-color: rgba(255,255,255,.8);
	text-align: center;
}
.footer-top {
	width: 100%;
	position: absolute;
	line-height: 0;
	top: -35px;
	left: 0;
	@media screen and (min-width: $smallwidth) {
		top: -40px;
	}
	@media screen and (min-width: $tabwidth) {
		top: -70px;
	}
	@media screen and (min-width: $midwidth) {
		top: -80px;
	}
	@media screen and (min-width: $deskwidth) {
		top: -120px;
	}
	@media screen and (min-width: $largewidth) {
		top: -130px;
	}


	img {
		width: 100%;
		float: left;
	}
}
footer.site-footer {
	width: 100%;
	background-color: $color-dark-gray;
	position: relative;
	float: left;
	padding: 80px 0;
	color: #fff;
	a {
		color: #fff;
	}

}
.foot-col {
	// color: #fff;
	font: {
		size: 18px;
		weight: 300;
	}

	@media screen and (min-width: $tabwidth) {
		font-size: 16px;
	}
	@media screen and (min-width: $deskwidth) {
		font-size: 18px;
	}

	h3 {
		margin: 0 0 5px 0;
		font: {
			size: 21px;
			weight: 300;
		}
		

		@media screen and (min-width: $tabwidth) {
			font-size: 18px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 21px;
		}
	}
	.item {
		width: 100%;
		float: left;
		margin: 0 0 20px 0;
		font-size: 21px;

		@media screen and (min-width: $tabwidth) {
			font-size: 16px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 21px;
		}
	}
	a {
		color: #fff;
	}
	h3.center {
		text-align: center;
	}
}
.footer-col-1 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;

	@media screen and (min-width: $tabwidth) {
		width: 22%;
		float: left;
		margin: 0 3% 50px 0;
		text-align: left;
	}
}
.footer-col-2 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: 22%;
		float: left;
		margin: 0 3% 50px 0;
		text-align: left;
	}
}
.footer-col-3 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: 22%;
		float: left;
		margin: 0 0% 50px 0;
		text-align: left;
	}
}
.footer-col-4 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: 22%;
		float: right;
		text-align: left;
	}
	h3.center {
		text-align: center;
	}
	.behailu {
		width: 50%;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}

.swoosh	{
	width: 100%;
	img {
		width: 100%;
	}
	&.bottom-swoosh {
		margin: 0 0 50px 0;
		float: left;
	}
	&.top-swoosh {
		// margin: 0 0 50px 0;
		position: absolute;
		bottom: -9px;
		left: 0;
		@media screen and (min-width: $tabwidth) {
			bottom: 0;
		}
	}
}

.group-start {
	width: 100%;
	margin: 0 0 30px 0;
	border-bottom: 1px solid #fff;
	@media screen and (min-width: $tabwidth) {
		border-right: 1px solid #fff;
		border-bottom: 0;
		width: 24%;
		float: left;
	}
	.img-center {
		width: 50%;
		margin: 0 auto  30px auto;

		@media screen and (min-width: $tabwidth) {
			width: 65%;
			float: left;
		}

	}
	h3 {
		margin: 0 0 30px 0;
	}
}
.group-item	{
	width: 50%;
	margin: 0 auto 30px auto;
	@media screen and (min-width: $tabwidth) {
		width: 24%;
		margin: 5% 0 0 0;
		float: left;
	}
	.img-summit {
		width: 75%;
		margin: 0 auto 50px auto;
		@media screen and (min-width: $tabwidth) {
			width: 65%;
			margin: 0 auto;
		}
	}
	.img-packhouse {
		width: 100%;
		margin: 0 auto 50px auto;
		@media screen and (min-width: $tabwidth) {
			width: 100%;
			margin: 15% auto 0 auto;
		}
	}
	.img-mayo {
		width: 75%;
		margin: 0 auto 50px auto;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			float: right;
		}
	}
	.img-joe {
		width: 75%;
		margin: 0 0 50px 15%;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			float: left;
		}
		img {
			transform: scale(1);
			@include transition(all ease .3s);
			&:hover {
				transform: scale(1.1);
			}
		}
	}

}
.rollover {
	img {
		filter: brightness(0) invert(1);
		&:hover {
			filter: none;
		}
	}
}
section.header-info {
	width: 100%;
	position: relative;
	text-align: center;
	margin: 20px auto;

	@media screen and (min-width: $tabwidth) {
		width: auto;
		display: inline-block;
		float: right;
		margin: 20px 20px 0 0;
	}

	
	
}
.phone {
	width: 100%;
	text-align: center;
	font: {
		size: 24px;
		weight: 300;
	}
	color: #fff;
	@media screen and (min-width: $tabwidth) {
		width:auto;
		float: right;
		margin-right: 10px;

	}
	a {
		color: #fff;
		text-decoration: none;
	}
}
.social {
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin: 0 3px 0 3px;
		padding: 0;
		@media screen and (min-width: $tabwidth) {
			margin: 0 0 0 5px;
		}
	}
	i {
		width: auto;
		height: auto;
		position: relative;
		
		font-size: 25px;
		transform: scale(1);
		@include transition(all ease .3s);
		&:hover {
			transform: scale(.8);
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&.social-head {
		@media screen and (min-width: $tabwidth) {
			float: right;
			margin-top: 8px;
		}
		i {
			color: #fff;
		}
	}
	&.social-footer {
		@media screen and (min-width: $tabwidth) {

		}
		i {
			color: #fff;
		}
	}
}
.food-truck-wrap {
	width: 90%;
	position: relative;
	margin: 40px 0 0 0;
	.food-truck-words {
		width: 80%;
		float: left;

	}
	.food-truck {
		width: 20%;
		float: right;
		img {width: 100%;}
		
	}
}
.big-button, .menu-top-button {
	
	margin: 0 auto;
	text-align: center;
	
	background: {
		color: $color-light-gray;
		image: url(images/summit.png);
		repeat: no-repeat;
		size: contain;
		position: center center;
	}
}
.big-button {
	padding: 70px 0;
	width: 90%;
	@media screen and (min-width: $tabwidth) {
		width: 60%;
		margin: -180px auto 80px auto;
	}
	@media screen and (min-width: $deskwidth) {
		width: 40%;
	}
}

.small-button {
	width: auto;
	display: inline-block;

	a {
		display: block;
		text-transform: uppercase;
		color: #fff;
		background-color: $color-light-gray;
		@include transition(all ease .3s);
		text-decoration: none;
		padding: 15px 25px;
		border: 1px solid #fff;

		&:hover {
			background-color: #fff;
			color: $color-light-gray;
		}
	}
}
.site-footer .creds {
	color: $color-light-gray;
	width: 100%;
	margin: 30px 0 10px 0;
	float: left;
	text-align: center;
	font: {
		size: 16px;
		font-family: $font__main;
	}
	a {
		color: $color-light-gray;
		text-decoration: none;
		@include transition(all ease .3s);

		&:hover {
			color: #fff;
		}
	}
}
article.hentry {
	padding-bottom: 80px;
	overflow: hidden;
	@media screen and (min-width: $deskwidth) {
		width: 70%;
		margin: 0 auto;
	}
}
.menu-article {
	padding-bottom: 80px;
	text-align: center;
}
.wp-caption {
	width: auto !important;
	position: relative;
	.wp-caption-text {
		width: 100%;
		padding: 10px; 
		background-color: rgba(0,0,0,.7);
		color: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0 !important;
	}
}
