$color__link : #729B55;
a {
	color: $color__link;
	font-weight: bold;
	@include transition(all ease .3s);
	/*&:visited {
		color: $color__link-visited;
	}*/
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		color: #10181F;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}